@font-face {
	font-family: 'Polonium';
	src: url('PoloniumRegular.woff2') format('woff2') url('PoloniumRegular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Polonium';
	src: url('PoloniumBold.woff2') format('woff2') url('PoloniumBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
